@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

:root {
    --color: #d4af37;
}
@media (max-width: 600px) {
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

body {
  background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2014/09/24/455874/7608e07471d7f6b88d9f4248922f2dc7-1000.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}
#togglePassword {
  margin-left: -30px;
  cursor: pointer;
  color: white; /* or any other color */
}

.container {
    width: 800px; /* Change the width of the container to 800px */
    height: 700px; /* Change the height of the container to 700px */
    text-align: center;
    background-color: #0000008A;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 15px 15px #000000ff;
}

i {
    margin: 10px 20px;
    color: var(--color);
    cursor: pointer;
}

input {
    display: block;
    margin: 40px auto;
    width: 70%;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid var(--color);
    background-color: transparent;
    color: white;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: white;
    font-weight: 500;
}
.btn {
  display: block;
  width: 60%;
  margin: auto;
  padding: 15px 32px;
  border: 2px solid #d4af37;
  border-radius: 4px;
  background-color: #d4af37;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
  color: white;
  border-color: white;
}

.btn:active {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  transform: translateY(2px);
}


a {
    text-decoration: none;
    color: var(--color);
}
/* The logo */
.logo {
  width: 100px; /* Reduce the width of the logo to 100px */
  height: 100px; /* Reduce the height of the logo to 100px */
  float: left; /* Float the logo to the left */
  margin: 0; /* Remove the margin of the logo */
  padding: 0; /* Remove the padding of the logo */
  overflow: hidden; /* Hide the overflow of the logo */
}

/* The navigation bar */
.navbar {
   float: right; /* Float the navbar to the right */
  margin: 0; /* Remove the margin of the navbar */
  padding: 0; /* Remove the padding of the navbar */
  background-color: #666666; /* Set the background color of the navbar */
}

/* Links inside the navbar */
.navbar a {
  float: left; /* Float the links to the left */
  display: block; /* Display the links as blocks */
  color: #eeeeee; /* Set the color of the links */
  text-align: center; /* Center the text of the links */
  padding: 15px 18px; /* Set the padding of the links */
  text-decoration: none; /* Remove the underline of the links */
  font-size: 18px; /* Set the font size of the links */
}

/* Change the color of the links on hover */
.navbar a:hover {
  color: #1c87c9; /* Set the color of the links on hover */
}
